extends ../layout 

block layout-content 

    script(src="/js/suppliers.js") 

    .sesssion
        h1 Fornecedores

    .session-options
        i.fa(class='fa-file-excel-o', onclick=`exportData(${JSON.stringify(suppliers)})`)

        a(href="/gsl/suppliers/form")
            i.fa-solid(class='fa-plus')

    .session-content
        ul.suppliers-list
            if retry == true
                li 
                    small Carregando...

            each supplier in suppliers  
                li(onClick="sendInfoToForm(" + supplier.document + ")")
                    b=supplier.companyName
                    br
                    =`Contato: ${supplier.contactName} (${supplier.contactPhone} | ${supplier.contactMail})`
                    br
                    small=`${supplier.docType}: ${supplier.document}`
                    br
                    small=`Telefone: ${supplier.phone} | E-mail: ${supplier.mail}`
                    br
                    small=`Endereço: ${supplier.address}, ${supplier.addrNumber} - ${supplier.addrComplement}| ${supplier.zipcode}`