extends ../../layout 

block layout-content 

    .sesssion
        h1 Fornecedores

    .session-content
        .form 
            form(action="/gsl/suppliers/save", method="post")  
                input(style="visibility:hidden", type="number", name="id", value=supplier.id)

                table
                    tr 
                        td 
                            label Nome da empresa
                            input(type="text", name="companyName" required, value=supplier.companyName)

                        td 
                            label Documento de identificação (CPF/CNPJ)
                            input(type="text", name="document" required, value=supplier.document)

                    tr 
                        td 
                            label Nome Fantasia ou Secundário da empresa
                            input(type="text", name="tradingName", value=supplier.tradingName)

                        td 
                            label Tipo de documento
                            input(type="text", name="docType" required, value=supplier.docType)

                    tr 
                        td 
                            label Nome do contato
                            input(type="text", name="contactName" required, value=supplier.contactName)

                        td 
                            label Telefone do contato
                            input(type="text", name="contactPhone", value=supplier.contactPhone)
                
                    tr 
                        td(colspan=2)
                            label E-mail do contato
                            input(type="text", name="contactMail" required, value=supplier.contactMail)
                    
                    tr 
                        td 
                            label Telefone de referência da empresa
                            input(type="tel", name="phone", value=supplier.phone)
                
                        td 
                            label E-mail de referência da empresa
                            input(type="mail", name="mail" required, value=supplier.mail)
                
                    tr 
                        td 
                            label Endereço da empresa
                            input(type="text", name="address" required, value=supplier.address)
                
                        td 
                            label Número predial
                            input(type="number", name="addrNumber" required, value=supplier.addrNumber)
                
                    tr 
                        td(colspan=2)
                            label CEP
                            input(type="text", name="zipcode" required, value=supplier.zipcode)
                
                    tr
                        td(colspan=2)
                            label Complemento do endereço da empresa
                            textarea(name="addrComplement")
                                | #{supplier.addrComplement}

                    tr 
                        td.center(colspan=2)
                            input.btn(type="submit", value="Salvar")
